/** allow an override of Tailwind's base layer */
@layer base, utilities, components, common.navlink, common.input, common.button, common.dialog, common.tooltip;

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@layer common {
	h1 {
		margin: 2rem auto;
		max-width: max-content;
		font-size: var(--font-size-fluid-3);
	}
	h2 {
		font-size: var(--font-size-fluid-2);
	}
	h3 {
		font-size: var(--font-size-fluid-1);
	}
	fieldset {
		border: revert;
		border-radius: revert;
		padding: revert;
	}
	legend {
	}
	:root {
		font-family:
			Roboto,
			Oxygen,
			Ubuntu,
			Cantarell,
			'Open Sans',
			'Helvetica Neue',
			-apple-system,
			BlinkMacSystemFont,
			'Segoe UI',
			sans-serif;
		background-color: var(--background);
		color: var(--text);
		--tooltip-color: black;
		--tooltip-font-weight: 400;
		--tooltip-font-size: 12px;
		--link-border-radius: 2rem;
		--link-background-color: hsl(195, 61%, 34%);
		--link-background-value: 195, 61%, 34%;
		--link-hover-box-shadow: 0 0 4px 1px orange;
		--link-hover-background-color: hsl(195, 61%, 44%);
		--current-nav-page-box-shadow: 0 0 14px 4px orange;
		--current-nav-page-background-color: hsl(195, 61%, 44%);
		--orange: hsla(39, 100%, 50%, 1);
		--spinner-background: var(--orange);
		--spinner-color: black;
	}
}

[data-theme='light'] {
	--text: hsla(0 0% 0% / 1); /* main/text color */
	--background: hsla(0 0% 100% / 1); /* background/alternate color */
	--accent: hsl(195 81% 24%);
}

[data-theme='dark'] {
	--text: hsla(0 0% 100% / 1); /* main/text color */
	--background: hsla(195 61% 14%); /* background/alternate color */
	--accent: var(--orange);
	--shadow-color: 220 3% 85%; /* For <dialog> box-shadows */
}

@position-try --top-bottom-right-left {
	@try {
		bottom: calc(anchor(top) + var(--distance));
		left: calc(anchor(center) - (var(--tooltip-width) * 0.5));
	}
	@try {
		bottom: calc(anchor(bottom) + var(--distance));
		left: calc(anchor(center) - (var(--tooltip-width) * 0.5));
	}
	@try {
		left: calc(anchor(right) + var(--distance));
		top: calc(anchor(center) - (var(--tooltip-height) * 0.5));
	}
	@try {
		right: calc(anchor(left) + var(--distance));
		top: calc(anchor(center) - (var(--tooltip-height) * 0.5));
	}
}

@position-try --bottom-top-right-left {
	@try {
		top: calc(anchor(bottom) + var(--distance));
		left: calc(anchor(center) - (var(--tooltip-width) * 0.5));
	}
	@try {
		top: calc(anchor(top) + var(--distance));
		left: calc(anchor(center) - (var(--tooltip-width) * 0.5));
	}
	@try {
		left: calc(anchor(right) + var(--distance));
		bottom: calc(anchor(center) - (var(--tooltip-height) * 0.5));
	}
	@try {
		right: calc(anchor(left) + var(--distance));
		bottom: calc(anchor(center) - (var(--tooltip-height) * 0.5));
	}
}

@position-try --left-right-top-bottom {
	@try {
		right: calc(anchor(left) + var(--distance));
		top: calc(anchor(center) - (var(--tooltip-height) * 0.5));
	}
	@try {
		right: calc(anchor(right) + var(--distance));
		top: calc(anchor(center) - (var(--tooltip-height) * 0.5));
	}
	@try {
		top: calc(anchor(top) + var(--distance));
		right: calc(anchor(center) - (var(--tooltip-width) * 0.5));
	}
	@try {
		bottom: calc(anchor(bottom) + var(--distance));
		right: calc(anchor(center) - (var(--tooltip-width) * 0.5));
	}
}

@position-try --right-left-top-bottom {
	/* @try { */
	/* bottom: calc(anchor(bottom) + var(--distance));
	left: calc(anchor(center) - (var(--tooltip-width) * 0.5));
	/* } */
	/* @try { */
	/* top: calc(anchor(top) + var(--distance)); */
	/* left: calc(anchor(center) - (var(--tooltip-width) * 0.5)); */
	/* } */
	/* @try { */
	/* left: calc(anchor(left) + var(--distance)); */
	/* top: calc(anchor(center) - (var(--tooltip-height) * 0.5)); */
	/* } */
	/* @try { */
	/* left: calc(anchor(right) + var(--distance)); */
	/* top: calc(anchor(center) - (var(--tooltip-height) * 0.5)); */
}
